<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encounterly - Your Players</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <!-- Home Page's Content -->
    <%- include('../partials/header.ejs') %>
        <div class="wrapper center">
            <a href="/players/new">Add a New Player</a>
            <% if (players.length) { %>
                <ul>
                <% players.forEach(player => { %>
                    <li>
                        <a href="/players/<%= player._id %>">
                        <%= player.charName %>
                        </a>
                    </li>
                <% }) %>
                </ul>
            <% } else { %>
                <p>You don't have any players yet!</p>
            <% } %>
        </div>
        <%- include('../partials/footer.ejs') %>

</body>

</html>