<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encounterly - A D&D Encounter Builder</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body>
    <!-- Home Page's Content -->
    <%- include('../partials/header.ejs') %>
        <div class="wrapper">
            <h1>Builder page</h1>
            <div class="builder-wrapper">
                <div id="monsters">
                    List of monsters
                </div>
                <div id="encounter">
                    Encounter Builder
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>

</body>

</html>