<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Encounterly - Sign in to your account</title>
  <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="background-img" style="--image-url:url(https://i.imgur.com/3d3mxdk.png)">
  <%- include('../partials/header.ejs') %>

    <div class="wrapper">
      <div class="sign-in-up">
      <h1> Sign in to your account</h1>
      <form action="/auth/sign-in" method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username" id="username" />
        <label for="password">Password:</label>
        <input type="password" name="password" id="password" />
        <button type="submit">SIGN IN</button>
      </form>
      </div>
    </div>

    <%- include('../partials/footer.ejs')%>
</body>

</html>