<nav>
  <a href="/">Home</a>
  <div>
    <!-- Above renders whether signed in or not -->
    <% if (user) { %>
      <a href="/players">Players</a>
      <a href="/monsters">Monsters</a>
      <a href="/encounters">Encounters</a>
      <a href="/auth/sign-out">SIGN OUT</a>
      <span>
        <%= user.username %>
      </span>
      <% } else { %>
        <a href="/auth/sign-up">SIGN UP</a>
        <a href="/auth/sign-in">SIGN IN</a>
        <% } %>
  </div>
</nav>