<div id="monsters">
    <h1>See your Monsters</h1>
    <a href="/monsters/"><img src="https://i.imgur.com/TpXw7Hm.png" alt="Image of a magnifying glass icon" width="150"
            height="150"></a>
</div>