<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Encounterly - A D&D Encounter Builder</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="icon" type="image/x-icon" href="https://i.imgur.com/XeR8XUQ.png" alt="Image of giant monster eye" />
</head>

<body class="background-img" style="--image-url:url(https://i.imgur.com/3d3mxdk.png)">
  <div class="wrapper fade-in">
    <%- include('./partials/header.ejs') %>
    <img src="https://i.imgur.com/ws1MM24.png" style="max-height:60vmin;" alt="Image of text logo Encounterly and a small round creatures with tentacles and one giant eye">
      <main>
        <div class="overlay-div">
          <div class="side">
            <img src="https://i.imgur.com/t0VK63X.png" alt="" width="300" height="300">
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Euismod et habitant ex fames purus proin dui elit.
              Curabitur posuere aptent accumsan ad a suscipit maximus tempus. Mi nam scelerisque eleifend hac molestie
              nam adipiscing. Egestas molestie egestas scelerisque; eleifend ipsum vulputate quam. Feugiat consequat
              donec in sociosqu est pulvinar risus. Volutpat a sit; vulputate magnis platea mus pretium sapien.</p>
          </div>
          <div class="side">
            <p>Lorem ipsum odor amet, consectetuer adipiscing elit. Euismod et habitant ex fames purus proin dui elit.
              Curabitur posuere aptent accumsan ad a suscipit maximus tempus. Mi nam scelerisque eleifend hac molestie
              nam adipiscing. Egestas molestie egestas scelerisque; eleifend ipsum vulputate quam. Feugiat consequat
              donec in sociosqu est pulvinar risus. Volutpat a sit; vulputate magnis platea mus pretium sapien.</p>
            <img src="https://i.imgur.com/t0VK63X.png" alt="" width="300" height="300">
          </div>
          <div class="blank">
            <h1>Ready for effortless encounters?</h1>
            <a href="/auth/sign-up">Try it for free!</a>
          </div>
          <div class="nested-container">
            <h1>Testimonials</h1>
            <div class="inner-container">
              <div class="row-item">1</div>
              <div class="row-item">2</div>
              <div class="row-item">3</div>
            </div>
          </div>
          <div class="nested-container">
            <h1>Upcoming Features</h1>
            <ul>
              <div class="inner-container">
                <li class="row-item-nobg">Feature 1</li>
                <li class="row-item-nobg">Feature 2</li>
                <li class="row-item-nobg">Feature 3</li>
              </div>
            </ul>
          </div>
          <div class="nested-container">
            <h1>Hey visitor!</h1>
            <p>Here's some cool info about this app</p>
            <a href="/auth/sign-up">And here's a link that'll take you to a sign-up page!</a>
            <p>Hate sign-up pages? That's cool - try the form below!</p>
            <form action="/auth/sign-up" method="POST">
              <label for="username">Username:</label>
              <input type="text" name="username" id="username" />
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" />
              <label for="confirmPassword">Confirm Password:</label>
              <input type="password" name="confirmPassword" id="confßirmPassword" />
              <button type="submit">SIGN UP</button>
            </form>
          </div>
        </div>
      </main>
      <%- include('./partials/footer.ejs') %>
  </div>

</body>

</html>