<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Encounterly - A D&D Encounter Builder</title>
  <link rel="stylesheet" href="/css/main.css" />
  <link rel="icon" type="image/x-icon" href="https://i.imgur.com/XeR8XUQ.png" alt="Image of giant monster eye" />
</head>

<body class="background-img" style="--image-url:url(https://i.imgur.com/3d3mxdk.png)" alt="Image of brick dungeon wall">
  <div class="wrapper fade-in">
    <%- include('./partials/header.ejs') %>
      <img src="https://i.imgur.com/ws1MM24.png" style="max-height:50vmin;"
        alt="Image of text logo Encounterly and a small round creatures with tentacles and one giant eye">
      <main>
        <div class="overlay-div">
          <div class="side">
            <div class="inner-container">
              <img src="https://i.imgur.com/t0VK63X.png" alt="" width="300" height="300"
                alt="Image of a mage, a knight and fighters battling a dragon destroying a town">
              <p>Are you ready to level up your game? Encounterly is here to make your life as a Dungeon Master easier,
                faster, and more fun. Whether you're running epic campaigns or just diving into a quick one-shot,
                Encounterly gives you the tools you need to create unforgettable encounters with ease.</p>
            </div>
            <div class="inner-container">
              <h3>What Can Encounterly Do for You?</h3><br>
              <p><span style="font-weight: 800;">Effortless Encounter Planning</span><br>
                Quickly gauge encounter difficulty with our intuitive planner, ensuring every battle feels just right
                for your players.<br>
                <br>
                <span style="font-weight: 800;">Monster Management Made Easy</span><br>
                Save, sort, and customize your go-to monsters. Your personal bestiary is now just a click away.<br>
                <br>
                <span style="font-weight: 800;">Party Insights at a Glance</span><br>
                Keep track of your players stats, levels, and abilities across all your campaigns. Know your party
                inside out and build encounters tailored to their strengths (and weaknesses!).<br>
              </p>
              <img src="https://i.imgur.com/9bzgPSb.jpg" style="max-width:40vmin; max-height:40vmin;" 
                alt="A humanoid with green skin and a tusk like overbite leans against a brick wall in his plate armor">
            </div>
          </div>
          <div class="blank">
            <h1>Ready for effortless encounters?</h1>
            <a href="/auth/sign-up" class="button-wrapper">Try it for free!</a>
          </div>
          <div class="nested-container">
            <h1>Testimonials</h1>
            <div class="inner-container">
              <div class="row-item testimonial">Wow, you did math!</div>
              <div class="row-item testimonial">I'll probably come back to check it out when you're done.</div>
              <div class="row-item testimonial">Does this mean you'll run a game of D&D for me?</div>
            </div>
          </div>
          <div class="nested-container">
            <h1>Upcoming Features</h1>
            <ul>
              <div class="inner-container">
                <li class="row-item-nobg">More math!</li>
                <li class="row-item-nobg">Pagination!</li>
                <li class="row-item-nobg">~* Filters *~</li>
              </div>
            </ul>
          </div>
          <div class="nested-container">
            <h1>Hey visitor!</h1>
            <p>Here's some cool info about this app</p>
            <a href="/auth/sign-up">And here's a link that'll take you to a sign-up page!</a>
            <p>Hate sign-up pages? That's cool - try the form below!</p>
            <form action="/auth/sign-up" method="POST">
              <label for="username">Username:</label>
              <input type="text" name="username" id="username" />
              <label for="password">Password:</label>
              <input type="password" name="password" id="password" />
              <label for="confirmPassword">Confirm Password:</label>
              <input type="password" name="confirmPassword" id="confßirmPassword" />
              <button type="submit">SIGN UP</button>
            </form>
          </div>
        </div>
      </main>
      <%- include('./partials/footer.ejs') %>
  </div>
</body>
</html>