* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.wrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin-top: 2vmin;
}

.center {
  display: flex;
  align-items: center;
}

.wrapper h1 {
  align-self: center;
}

nav,
footer {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
  font-size: 2vh;
  color: lightslategray;
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: lightslategray;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

input,
textarea,
select {
  border: 0.3vmin solid black;
}

form button[type='submit'] {
  grid-column: span 2;
}

button:hover {
  background-color: lightslategray;
  color: white;
}

.wrapper form {
  justify-content: center;
  margin-top: 2vh;
}

.builder-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

#monsters {
  background-color: aliceblue;
  width: 70%;
  display: flex;
  justify-content: center;
}

#encounter {
  background-color: blanchedalmond;
  width: 30%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 1024px) {
  #monsters {
    background-color: purple;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  #encounter {
    background-color: green;
    display: none;
  }
}