* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  font-size: 2vmin;
  overflow-x: hidden;
}

.background-img {
  background: linear-gradient(rgba(0,0,0,0.5), 
  rgba(0,0,0,0.5)), 
  var(--image-url) center center;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.wrapper p,
.wrapper a {
  text-align: center;
}

.wrapper h1 {
  align-self: center;
}

.center {
  display: flex;
  justify-content: center;
}

nav,
footer {
  background-color: lightblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2vmin;
  font-size: 2vh;
  color: lightslategray;
  width: 100%;
}

nav a {
  text-decoration: none;
  color: slategray;
  background-color: white;
  padding: 1vmin;
  border-radius: 1vmin;

  &:hover {
    color: gray;
    background-color: lightslategray;
    color: white;
  }
}

nav span {
  font-size: 1.5vmin;
  color: rgb(215, 220, 224);
}

footer {
  color: rgb(215, 220, 224);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 5vmin;
  max-width: 100%;
  flex-grow: 1;
}

form {
  display: grid;
  grid-template-columns: auto auto;
  gap: 2vmin;
}

form * {
  font-size: 2.5vmin;
  padding: 1vmin;
  border-radius: 1vmin;
}

input,
textarea,
select {
  border: 0.2vmin solid black;
}

form button[type='submit'] {
  grid-column: span 2;
  border: .2vmin solid black;
}

button:hover {
  background-color: lightslategray;
  color: white;
}

.wrapper form {
  justify-content: center;
  margin-top: 2vh;
}

.overlay-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #48788bb9;
  border-radius: 10vmin;
  padding-bottom: 5vmin;
  width: 95%;
  margin-bottom: 10vmin;
 }

.nested-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 3em;
  background-color: #9bc4d4;
  border-radius: 7vmin;
  padding: 8vmin 10vmin;
  margin-top: 4vmin;
  width: 95%;
}

.side {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  background-color: #9bc4d4;
  border-radius: 7vmin;
  margin: 0 4vmin;
  margin-top: 4vmin;
  gap: 4vmin;
  font-size: 1em;
  width: 95%;
  padding-bottom: 12vmin;
}

.side p {
  text-align: left;
}

.side img {
  border-radius: 3vmin;
}

.blank {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vmin 15vmin;
  color: white;
  gap: 2vmin;
  width: 95%;
  text-align: center;
}

.blank h1 {
  font-size: 4.5vmin;
}

.blank a {
  padding: 3vmin 5vmin;
  background-color: white;
  border-radius: 1vmin;
  text-decoration: none;
  color: #0c5876;
  font-size: 1.25em;
}

.inner-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4vmin;
}

.row-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vmin;
  height: 60vmin;
  background-color: #043142;
  color: white;
  border-radius: 4vmin;
}

.row-item-nobg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60vmin;
  height: 60vmin;
  color: #043142;
  border: .5vmin solid #043142;
  border-radius: 4vmin;
}

.sign-in-up {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 3em;
  background-color: #9bc4d4;
  color: #043142;
  border-radius: 7vmin;
  padding: 8vmin 10vmin;
  margin-top: 4vmin;
  width: 95%;
}

.builder-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  padding: 3em;
  background-color: #48788bb9;
  color: #043142;
  border-radius: 4vmin;
  padding: 2vmin 2vmin;
  margin-top: 2vmin;
  width: 95%;
  height: 95%;
}

.builder-wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
  gap: 2vmin;
}

#monsters {
  background-color: aliceblue;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2.5vmin;
}

#encounter {
  background-color: blanchedalmond;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  border-radius: 2.5vmin;
  gap: 12vmin;
  padding-top: 2vmin;
}

.player {
  width: 100%;
  margin: 4vmin 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  background-color: #48788bb9;
  border-radius: 6vmin;
}

.player-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #9bc4d4;
  border-radius: 4vmin;
  padding: 2vmin 10vmin 8vmin;
  margin-top: 3vmin;
  margin-bottom: 3vmin;
  width: 95%;
  min-height: 90%;
  gap: 2vmin;
}

.player-characters {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2vmin;
  gap: 1.5vmin;
}

.characters {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: .5vmin solid #043142;
  border-radius: 1vmin;
  height: 30vmin;
  width: 30vmin;
  overflow: hidden;
  gap: 2vmin;
}

.character-img {
  position: relative;
  overflow: hidden;
  border-radius: 1vmin; 
  width: 90%; 
  height: 70%;
  margin-top: 1vmin;
}

.character-img img {
  position: absolute;
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.character-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.characters a {
  text-decoration: none;
  font-size: 1.5em;
  color: #043142;
}

.characters p {
  font-style: italic;
}

.button-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1vmin;
  padding: .5vmin .5vmin;
  border: .2vmin solid #043142;
  border-radius: 1vmin;
  width: 28vmin;
  background-color: #eff5f7;
  text-decoration: none;
  color: #043142;
}

.button-wrapper a {
  text-decoration: none;
  color: #043142;
}

.delete {
  background-color: #043142;
  color: #eff5f7;
  font-size: 1em;
}

.submit {
  height: 5vmin;
  width: 51.5vmin;
  font-size: 1.25em;
}

.show {
  margin-bottom: 4vmin;
}

.show-character {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1vmin;
  height: 40vmin;
  width: 40vmin;
  overflow: hidden;
}

.show-character img { 
  object-fit: cover;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
}

.pad-btm {
  padding-bottom: 3vmin;
}

.add {
  grid-column: -2/-1;
  border: 1px solid black;
  background-color: #c9f3ee;
}

.full-col {
  grid-column: 1/-1;
}

.list-align li {
  width: auto;
}

.encounter-align {
  align-items: flex-start;
  gap: 14vmin;
  padding-bottom: 4vmin;
}
.characters {
  opacity: 0;
}

.fade-in {
    animation: fadeInAnimation ease 3s forwards;
}

.hero {
  margin-top: -4vmin;
}

.translucent {
  background-color: #1d7a9ec1;
}

.monster-break {
  width: 80%;
  height: .5vmin;
  border-width:0;
  color: #043142;
  background-color: #043142;
}

.monster-row {
  display: flex;
  flex-direction: row;
  gap: 4vmin;
}

.monster-column {
  display: flex;
  flex-direction: column;
}

.monster-space {
  width: 50%;
}

.column-space {
  width: 30%;
}

.ability h4 {
  font-style: italic;
}

.mobile-hr {
  display: none;
}

@keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.partial-width {
  width: 75%;
}


@media only screen and (max-width: 1024px) {
  #monsters {
    background-color: purple;
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
  }
  
  #encounter {
    background-color: green;
    display: none;
    height: 90%;
  }

  .nested-container {
  padding: 8vmin 18vmin;
  }

  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 12vmin;
    gap: 8vmin;
  }

  .partial-width {
    width: 100%;
    text-align: center;
  }

  .monster-row {
    flex-direction: column;
    align-items: center;
  }

  .monster-column {
    align-items: center;
    text-align: center;
  }

 .mobile-hr {
  display: block;
  width: 100%;
  height: .5vmin;
  border-width:0;
  color: #043142;
  background-color: #043142;
 } 

}


