<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Encounterly - A D&D Encounter Builder</title>
    <link rel="stylesheet" href="/css/main.css" />
</head>

<body class="background-img" style="--image-url:url(https://i.imgur.com/3d3mxdk.png)">
    <!-- Home Page's Content -->
    <%- include('../partials/header.ejs') %>
        <div class="wrapper">
            <div class="builder-container">
                <div class="builder-wrapper">
                    <%- include('../partials/monsters.ejs') %>
                    <%- include('../partials/encounter.ejs') %>
                </div>
            </div>
        </div>
        <%- include('../partials/footer.ejs') %>

</body>

</html>